.content {
    flex: 1;
    width: 80%;
    background-color: #EF8C29;
    overflow-y: auto;
    z-index: 2;
    color: black;
    margin: 0 auto;
    padding: 1rem;
    box-shadow:
            -24px 0 12px -12px rgba(0, 0, 0, 0.3),
            24px 0 12px -12px rgba(0, 0, 0, 0.3)

}

@media screen and (max-width: 800px) {
    .content {
        width: 100%;
        box-shadow: none;
    }
}