.nav-links {
    display: flex;
    justify-content: center;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    list-style: none;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.nav-links a {
    display: inline-block;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2px;
    border: 2px solid transparent;
    color: #EF8C29;
}

.nav-links a:hover {
    background-color: #3F1213;
}

.nav-links a.active {
    background-color: #3F1213;
    border: 2px solid black;
}

@media screen and (max-width: 800px) {

    .nav-links {
        flex-direction: column;
    }

    .nav-links a {
        display: block;
        padding: 10px 0;
    }
}