---
import Layout from '../layouts/BaseLayout.astro';
const pageTitle = "Impressum";
const currentPage = "impressum";
---
<Layout pageTitle={pageTitle} currentPage={currentPage}>
    <h1>{pageTitle}</h1>
    <p>TBD</p>
</Layout>